.loadingApplication {
  width: '100%';
  text-align: center;
}

.hidden {
  display: none;
}

::-ms-clear {
  display: none;
}

.form-control-clear {
  z-index: 10;
  pointer-events: auto;
  cursor: pointer;
}
